/** @format */

* {
  margin: 0;
  border: 0;
}
body {
  background-image: linear-gradient(rgba(6, 245, 26, 0), rgb(88, 233, 88));
}

section {
  display: grid;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
  justify-items: center;
}

img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 400px;
  height: 400px;
}

form {
  display: grid;
  margin-top: 5px;
  align-content: center;
}

input {
  width: 250px;
  border-radius: 5px;
  height: 40px;
}

button {
  margin-top: 5px;
  width: 250px;
  height: 45px;
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
}

.linkWpp {
  display: flex;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
  background-color: bisque;
  width: 250px;
  height: 40px;
  justify-content: space-around;
  align-content: flex-end;
  flex-direction: column;
}
.linkWpp:hover {
  background-color: rgb(221, 241, 221);
  color: rgb(7, 168, 101);
  box-shadow: 1px 5px;
}

@media only screen and (max-width: 600px) {
  img {
    width: 250px;
    height: 250px;
  }
}
